/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	box-sizing: border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box,
.clearfix,
.entry,
.entry-content,
.site-footer,
.footer-widgets,
.site-header,
.pagination,
.site-container,
.site-inner,
.wrap {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

html,
body {
	overflow-x: hidden;
}
